.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #7d88b7;
}

.container{
  border: 1px solid black;
  height: 80vh;
  overflow: scroll;
}
