.content {
    display: flex;
    width: 90%;
    height: 50vh;
    background-color: white;
    margin-top: 2%;
    border-radius: 25px;
}

.inputs {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: left;
}

.billForm {
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.billSymbol {
    height: 65%;
    margin-left: 5px;
}

.billInput {
    border: none;
}

.label{
    background-color: white;
    border: solid red 1px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: transparent;
    height: 80%;
    width: 40%;
}

.buttonContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* creates three columns of equal width */
    gap: 20px; /* adds some space between the buttons */
    background-color: white;
}

.button {
    height: 150%;
    width: 80%; /* makes each button fill its grid cell */
}


.display {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 25px;
    background-color: #1a484b;
    height: 80%;
    width: 40%;
    
}