.commentContainer{
    margin-top: 1%;
    flex-direction: column;
    height: 100px;
    width: 600px;
    margin-bottom: 2em;
}

.container {
    display: flex;
    background-color: white;
    border-radius: 15px;
    padding: 1%;
}

.content {
    display: flex;
    height: 50%;
    width: 450px;
    justify-content: space-around;
    align-items: center;
}

.content img {
    height: 100%;
}

.content p {
    font-weight: lighter;
}

button {
    height: 10%;
    border: none;
    background-color: transparent;
    color: #5358b6;
    cursor: pointer;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f6fa;
    width: 20px;
    height: auto;
    border-radius: 10px;
    margin-right: 10%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}